@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  overflow: hidden;
}

body {
  background: linear-gradient(
    269.16deg,
    #ffeef0 -6.71%,
    #faf4ff 12.7%,
    #f3f5f6 90.89%
  );
}
